.git
.gitignore
README.md
Dockerfile
.dockerignore
.pytest_cache
__pycache__
*.pyc
.coverage
.env
.venv
.wslvenv
node_modules
.DS_Store
*.log
db.sqlite3
media/
staticfiles/
.idea/
.vscode/
*.md
locustfile.py
.locust_history
htmlcov/
